@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: $text-color;
}

.container {
    padding: 5vw;

    @media (max-width: 980px) {
        padding: 3vw;
        
    }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
  }
  
  body,
  html {
    height: 100%;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  .bg {
    /* The image used */
    background-image: url("./images/background.jpg");
  
    /* Full height */
    height: 100vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .height33 {
    height: 33vh;
  }
  
  .height100 {
    height: 100vh;
  }
  
  .height80 {
    height: 80vh;
  }
  
  .width66 {
    width: 66.6vw;
  }
  
  .row5 {
    height: 20vh;
  }
  
  .fullwidth {
    width: 100vw !important;
    margin: 0 !important;
  }
  

  @media (min-width: 576px) {
    .card-columns {
        column-count: 2;
   }
}
@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
   }
}
@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
   }
}
@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
   }
}